body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
} 

nav{
    
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    align-items: center;
    padding: 0 10%;
}
.tech{
    color: white;
}
.logo .wave {
    background: linear-gradient(45deg, #ffd84a, #ff8a5c, #ff00a8, #a201ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}
.btn button{
  padding: 12px 30px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    45deg,#ffd84a,#ff8a5c,
    #ff00a8,#a201ec);
  border-radius: 30px;
}

.hamburger{
    display: none;
    color: white;
}

.techwave .image{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600vh;
    height:760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.image-3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.techwave .image .image-section{
    text-align: center;
}
.techwave .image .btn-group .btn1{
    width: 201px;
    height: 44px;
    padding: 12px 25px;
    background: linear-gradient(
    45deg,#ffd84a,#ff8a5c,
    #ff00a8,#a201ec);
    align-items: center;
    border: none;
    color: white;
    border-radius: 100px;
    
}
.techwave .image .btn-group .btn2{
    width: 147px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    
}



@media screen and (max-width:576px) {
    
    nav{
        padding: 0 20px;
    }
    .nav-links, .btn button{
       display: none;
    }

    .nav-links.active {
        left: 0; 
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    
}
