body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
} 

nav{
    
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
    align-items: center;
    padding: 0 10%;
}
.tech{
    color: white;
}
.logo .wave {
    background: linear-gradient(45deg, #ffd84a, #ff8a5c, #ff00a8, #a201ec);
    background-clip: text;
    color: transparent;
  }
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}
.btn button{
  padding: 12px 30px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    45deg,#ffd84a,#ff8a5c,
    #ff00a8,#a201ec);
  border-radius: 30px;
}

.hamburger{
    display: none;
    color: white;
}

.techwave .image{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600vh;
    height:760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.image-3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.techwave .image .image-section{
    text-align: center;
}
.techwave .image .btn-group .btn1{
    
    width: 201px;
    height: 44px;
    padding: 12px 25px;
    background: linear-gradient(
    45deg,#ffd84a,#ff8a5c,
    #ff00a8,#a201ec);
    align-items: center;
    border: none;
    color: white;
    border-radius: 100px;
    
}
.techwave .image .btn-group .btn2{
    width: 147px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background-color: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    
}

.line{
    height: 1px;
    background-color: rgb(113, 105, 105);   
}

.about{
    background-color: #1A0B2E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about .about-title{
    text-align: center;
    color:white;
    padding-bottom: 79.5px;
}

.about .card{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 80px;
    padding-top: 80px;
    padding-bottom: 120px;
}

.about .line{
    width: 75%;
    height: 1px;
    background-color: rgb(113, 105, 105);   
}

.card .card-section h1{
    
    color: #00FF88;
}

.card .card-section h5{
    color: white;
}


.why-choose{
    background-color: #230E3D;
    color: white;
    padding: 120px 120px;
}

.why-choose .title{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}

.large-box{
    grid-row: span 1;
    grid-column: span 2;
    background-color: #352648;
    border-radius: 20px;
    padding: 20px;
}
.general-box{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #352648;
    border-radius: 20px;
    padding: 20px;
}
.medium-box{
    grid-row: span 2;
    grid-column: span 1;
    background-color: #352648;
    border-radius: 20px;
    padding:50px;
}






.meet{
    padding-bottom: 120px;
    background-color: #1A0B2E;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border: none;
}

.box{
    width: 80%;
    padding: 40px;
    border-radius: 40px;
    background-color: #260e45;
}

.meet h1{
    color: white;
    text-align: center;
}

.meet .box{
    display: flex;
}

.meet .box .box-image{
    padding-right: 20px;
}

.social-icons{
  display:flex;
  gap:20px;
  padding:40px;
}

.social-icons .icon{
  width:40px;
  height:40px;
  border:2px solid rgba(255,255,255,0.3);
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}

.icon i{
  font-size:20px;
  background: linear-gradient(
    45deg,
    #ffd84a,
    #ff8a5c,
    #ff00a8,
    #a201ec
  );
  background-clip: text;
  color: transparent;
}


.footer .image-container{
    
    padding-top: 0px;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:gray;
    
}

.footer .image-container h1{
    font-size: 3.5rem;
}

.image-container .icon{
    display: flex;
    color: gray;
    gap: 20px;
}

.image-container .copyright{
    padding-top: 30px;
}



@media screen and (max-width:576px) {
    
    nav{
        padding: 0 20px;
    }
    .nav-links, .btn button{
       display: none;
    }

    .nav-links.active {
        left: 0; 
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .about .card{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color: white;
        gap: 40px;
    }

    .meet .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .meet .box .box-image{
        padding-left: 25%;
    }

    .box{
        width: 75%;
    }

    .why-choose{
        
        padding:10px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    
}
