nav{
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: #1A0B2E;
    padding:0px 200px;
}
nav .title{
    margin: 40px;
}
nav .title{
    color:
}
nav .text{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav .btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    margin: 40px;
    border-radius: 10000px;
    background-color: #ffffff;
}